@using BLL.Models
@{
    ViewData["Title"] = "Home Page";

    var userName = User.Identity.IsAuthenticated ? User.Identity.Name : string.Empty;
}

<div class="text-center">
    <h1 class="display-4">Welcome to @AppSettings.Title @userName</h1>
</div>